:global(#app) {
  .button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 0;
  }

  .initials {
    margin: 0 auto;
    text-transform: capitalize;
  }

  .wrapper {
    border: none;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    line-height: 1;
    outline: none;
    text-align: center;
    vertical-align: top;
  }

  .wrapperHoverable:hover {
    opacity: 0.75;
  }

  /* Sizes */

  .wrapperTiny {
    font-size: 10px;
    font-weight: 400;
    height: 22px;
    line-height: 20px;
    padding: 2px 0;
    width: 22px;
  }

  .wrapperSmall {
    font-size: 10px;
    font-weight: 400;
    height: 24px;
    padding: 8px 0;
    width: 24px;
  }

  .wrapperMedium {
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    padding: 10px 0;
    width: 32px;
  }

  .wrapperLarge {
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    padding: 12px 0 10px;
    width: 36px;
  }

  .wrapperMassive {
    font-size: 36px;
    font-weight: 500;
    height: 100px;
    padding: 32px 0 10px;
    width: 100px;
  }

  /* Backgrounds */

  .backgroundEmerald {
    background: #424242;
  }

  .backgroundPeterRiver {
    background: #5e5e5e;
  }

  .backgroundWisteria {
    background: #6b6b6b;
  }

  .backgroundCarrot {
    background: #2b2b2b;
  }

  .backgroundAlizarin {
    background: #919191;
  }

  .backgroundTurquoise {
    background: #2e2e2e;
  }

  .backgroundMidnightBlue {
    background: #727272;
  }
}
